@font-face{
    font-family: "RobotoL";
    src: url(../fonts/Roboto.ttf);
}

* {
    font-family: "RobotoL";
    padding: 0;
    margin: 0;
}

body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    background: linear-gradient(to right, #F8F8FF 70%, white 30%);
}

main {
    background: linear-gradient(to right, #F8F8FF 70%, white 30%);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
}

h2 {
    font-family: "RobotoL";
    font-weight: 100;
    color: #F0CB56;
}

.last-name__yellow {
    color: #F0CB56;
}


.my-photo {
    border: 1px solid #F0CB56;
    border-radius: 50%;
    background-color: white;
}

.nav-list li {
    display: inline;
    width: 100px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

.nav-list li:hover {
    background-color: #F0CB56;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
}

.wrapper {
    flex-direction: column;
}

.name-wrapper {
    align-self: center;
    margin: 30px 5px;
    padding:  5px;
}

.photo-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 15px;
    border: 3px solid #EFF1FE;
    border-radius: 50%;
    border-top-color: #F0CB56;
    border-right-color: #F0CB56;
}