@font-face{
    font-family: "RobotoL";
    src: url(../fonts/Roboto.ttf);
}

* {
    font-family: "RobotoL";
    padding: 0;
    margin: 0;
}

body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
    background: linear-gradient(to right, #F8F8FF 76%, white 24%);
}

main {
    display: flex;
    background: linear-gradient(to right, #F8F8FF 76%, white 24%);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
}

h2 {
    font-family: "RobotoL";
    font-weight: 100;
    text-transform: uppercase;
    color: #F0CB56;
}

section {
    margin-left: 15px;
}

.wrapper__last-name_yellow {
    color: #F0CB56;
}

.prof__black {
    color: black;
}

.wrapper__photo {
    border: 1px solid #F0CB56;
    border-radius: 50%;
    background-color: white;
}

.menu__list li {
    display: inline;
    width: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.menu__list li:hover {
    background-color: #F0CB56;
}

li a {
    text-decoration: none;
    color: black;
}

.wrapper {
    flex-direction: column;
}

.wrapper__name-content {
    align-self: center;
    margin: 40px 40px;
    padding:  5px;
}

.wrapper__photo-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 60px;
    padding: 15px;
    border: 3px solid #EFF1FE;
    border-radius: 50%;
    border-top-color: #F0CB56;
    border-right-color: #F0CB56;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 265px;
    height: 620px;
    margin-left: 15px;
}

.left-content {
    width: 835px;
}

.right-content__list {
    padding-left: 20px;
}

.right-content__list li{
    font-weight: bold;
    margin: 20px 0px;
    list-style-type: square;
}

.right-content__list li::marker {
    color: #F0CB56;
}

.right-content__header {
   margin: 20px 0px; 
}

.right-content__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.right-content__subtitle {
    margin: 10px 0px;
}

.right-content__years {
    color: #515151;
}

.right-content__list_no-marker {
    list-style-type: none;
}

.right-content__qualification {
    font-weight: bold;
}

.left-content__header{
    margin: 25px 0px;
}

.left-content__text {
    font-size: 20px;
    margin-bottom: 10px;
}

.code__text_yellow {
    text-decoration: none;
    color: black;
}

.code__text_yellow:hover {
    color: #F0CB56;
}

.left-content__code-wrapper {
    padding: 10px 0;
}

.project__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style-type: none;
}

.project__list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.project__picture {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.project__picture:hover {
    border: 3px solid #F0CB56;
}

#project {
    height: 400px;
}

.project__name {
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to right, #F8F8FF 76%, white 24%);
}

.footer__year {
    padding-top: 30px;
}

.contact__image {
    width: 24px;
    height: 24px;
    padding: 5px;
}

.contact__list li{
    display: flex;
    align-items: center;
    height: 30px;
    list-style-type: none;
}

.contact__text {
    font-size: 20px;
    padding-left: 10px;
}

.contact__text:hover {
    text-decoration: underline;
}